DATABASE_URL="postgresql://postgres:postgres@localhost:5432/haru_control?schema=public"
PIN_CODE="1234"
PORT=3000

# Configurações do Pix Copia e Cola (Frontend Mobile)
VITE_PIX_KEY="11976952264"
VITE_PIX_NAME="Haru Cookies"
VITE_PIX_CITY="Sao Paulo"
